@font-face {
    font-family: futura;
    src: url("../fonts/circe-light.ttf");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: futura-bold;
    src: url("../fonts/circe-bold.ttf");
    font-weight: bold;
    font-style: normal;
}



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    min-width: 320px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


button {
    border: none;
    padding: 0;
    font-family: futura-bold;
}
.header {
    margin: 0 auto;
    
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.container-logo {
    width: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    
    
}
.container-menu {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 90%;
    
}
.menu__button {
    display: none;
}
.menu-list {
    list-style-type: none;
    display: flex;
    margin: 0;

}
.menu-list-item a {
    color: #231F20;
    font-family: futura;
    text-decoration: none;
    font-size: 18px;
}

.menu-list-item a:hover {
    color: #FA15FF;
    font-family: futura;
    text-decoration: none;
    
}
.menu-list-item:nth-child(n + 2) {
    margin-left: 38px;
}

    
.menu-link {
    text-decoration: none;
   
    position: relative;
    font-family: open-sans, serif;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    z-index: 2;
}



.container-profile {
    display: flex;
    box-sizing: border-box;
       
    margin: 0;
      
    align-items: center;
    margin-left: 680px;
    
}

.profile {
    display: flex;
    list-style: none;
    margin: 0;

}




.profile-item-link {
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    
}






.profile-item a {
    color: #231F20;
    font-family: futura-bold;
    text-decoration: none;
    font-size: 18px;
    
}

.profile-item a:hover {
    color: #FA15FF;
    font-family: futura-bold;
    text-decoration: none;
    
}


    
.menu-link-join {
    text-decoration: none;
   
    position: relative;
    font-family: open-sans, serif;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    z-index: 2;
    margin-right: 38px;
}

.profile-link-cart {
    background-image: url("../svg/cart.svg");
    display: block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0;
    margin: 0;
}

.profile-link-cart:hover {
    background-image: url("../svg/cart-hover.svg");
}


.profile-link-text {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}




.welcome {
    display: flex;
    background-image: url("images/grey_bg.png");
    background-position: center center;
    background-size: cover;
    background-color: #231F20;
    position: relative;
    z-index: 1;
    
    width: 100%;
    box-sizing: border-box;
    height: 703px;
    justify-content: center;
    align-items: center;
}

/*.welcome::before {
    content: "";
    background-color: #000000;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    opacity: 0.35;
}*/
   
.main-screen {
    width: 100%;
}

.container {
    display: flex;
    
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    
}



.container-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    

}
.welcome-title {
    position: relative;
    text-align: center;
    z-index: 2;
    text-transform: uppercase;
    margin: 0;
    font-family: futura-bold;
    font-weight: bold;
    font-size: 58px;
    line-height: 1.5;
    color: #FA15FF;
}

.welcome-title-small {
    text-align: center;
    text-transform: none;
    color: #ffffff;
    font-family: futura-bold;
    margin: 0;
    font-size: 24px;
}







h3 > a {
    text-decoration: none;
    color: #231F20;
    font-family: futura-bold;
    margin: 0;
}

h4 > a {
    text-decoration: none;
    color: #231F20;
    font-family: futura-bold;
    margin: 0;
}

.application {
    display: block;
    width: 1096px;
    margin-left: auto;
    margin-right: auto;
}

.application-header {
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    font-family: 'futura-bold';
    color: #231F20;
    text-transform: uppercase;
}

.application_list {
    display: flex;
    flex-direction: column;
   
}

input:focus {
    border: 1px solid #FA15FF;
}

textarea:focus {
    border: 1px solid #FA15FF;
}
.contact_name, .phone, .email_brand, .brand_name, .designers_name, .date, .text  {
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    outline: none;
    border: 1px solid #414042;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;
    font-family: futura;
}

.description {
    width: 100%;
    height: 200px;
    resize: none;
    background-color: #ffffff;
    outline: none;
    border: 1px solid #414042;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;
    font-family: futura;
}


.send-button {
    width: 190px;
    height: 50px;
    background-color: #FA15FF;

    margin-top: 30px;
    margin-bottom: 60px;
    outline: none;
    border: none;
    font-size: 20px;
    color: #231F20;
}

.send-button:hover {
    background-color: #2300B0;
    color: #ffffff;
}

.button_application {
    display: flex;
    justify-content: center;
}

.links {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-bottom: 60px;
    align-items: center;
}

.follow {
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-family: futura-bold;
    color: #414042;

}
.container-link {
    display: flex;
    box-sizing: border-box;
    width: 100%;
         
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    
}

.socials {
    display: flex;
    list-style: none;
    margin: 0;

}

.socials-item {
    margin-right: 20px;
}
.socials-item:last-child {
    margin-right: 0;
}

.socials-link {
    display: block;
    width: 51px;
    height: 51px;
    background-repeat: no-repeat;
    background-size: 51px;
    background-position: center;
    
}


.socials-link-instagram {
    background-image: url("../svg/Instagram.svg");
    background-size: auto 35px;
}

.socials-link-instagram:hover {
    background-image: url("../svg/Instagram-hover.svg");
}



.socials-link-facebook {
    background-image: url("../svg/Fb.svg");
    background-size: auto 36px;
}

.socials-link-facebook:hover {
    background-image: url("../svg/Fb-hover.svg");
}

.socials-link-youtube {
    background-image: url("../svg/YouTube.svg");
    background-size: auto 35px;
}

.socials-link-youtube:hover {
    background-image: url("../svg/YouTube-hover.svg");
}

.socials-link-text {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.footer {
    
    
    background-color: #EDEDED;
    
}

.footer-elements {
    width: 90%;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 50px;
    
}

.articles-footer {
    display: flex;
    
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-family: futura-bold;
}


.text-links {
    color: #231F20;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 800;
}

.quick-links {
    line-height: 2;
}
.quick-link a {
    color: #231F20;
    text-decoration: none;
    font-size: 18px;
    font-family: futura;
}

.quick-link_click > .quick-link-text:hover {
    
    text-decoration: none;
    color: #2300B0 ;
}






.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe-text {
    color: #231F20;
    font-family: futura-bold;
    font-size: 18px;
    margin-bottom: 20px;
}

.subscribe-email {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.email {
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    outline: none;
    border: none;
    box-sizing: border-box;
    padding: 10px;
}


.subscribe-button {
    width: 150px;
    height: 50px;
    background-color: #FA15FF;
    margin-top: 10px;
    outline: none;
    border: none;
    font-size: 16px;
    color: #231F20;
}

.subscribe-button:hover {
    background-color: #2300B0;
    color: #ffffff;
}

.email-span {
    display: none;
} 

